h1 {
    color: red;
    text-align: center;
}

.car{
    width: 500px;
    border:10px
    border-radius; 50px;
    height:500px;
    
}
img {
    width: 500px;
    border: 10px solid black;
    border-radius: 50px;
    height: 500px;
}